<fieldset>

<span style="font-size:9px"><%= f.label :name, "Option" %></span>

<%= f.text_field :name %>
<%= f.hidden_field :_destroy %>
<%= link_to "x" , "#" , class: "remove" , title: "Delete" %>

</fieldset>