

ahmed 
<% @result.each do |resul| %>
<%= resul%>
<% end %>
<br>
<% @likes.each do |like| %>
<%= like%>
<% end %>
<br>
<table border="0">
<% if @likes %>
<% for like in @likes %>
<tr>
<td><b><%=h like["name"]%> </b></td>
</tr>
<tr>
<td><%=h like["category"] %></td>
</tr>
<tr>
<td>&ndash;</td>
</tr>
<% end %>
<% else %>
 SARAH lslllsls
 <% end %>
</table>




