<body>
<br>
<br>
<br>
<div class="container">
	<div class="row" >
	<div class="span3">
	<div class="header" style="padding-left:18px"> Systems </div>
	</div>

	<div class="span3 offset5 pull-right" >
    
			<%= form_tag( 'list', :method => 'get', :id=>"system-search", :class=>"pull-left" ,  :remote=>true) do %>
				<div class="input-append" style="margin-left:60px;backgroun-color:red;">
			 	<%= text_field_tag :search, params[:search] , :id=>"appendedInputButton" , :class=>"span9", :placeholder=>"search systems.." , :type=>"text" %>
			  	<button class="btn" type="submit">
			  		<i class="icon-search"></i>
			  	</button>
			  	</div>
			<% end %>
	</div>
	</div>

       <div class="scroll2">
       	<div class="scrollablediv">

          <div id="systemlist">
		     <%= render 'table' %>
          </div>

	 </div>
	</div>
    
</div>


</body>

