@import 'bootstrap';
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require_tree .
 */

modalmaxsize {
	max-height:100px;
}

<<<<<<< HEAD
=======
inline {
  display:inline-block;
}

nav-link {
  font-weight:bold;  
}
>>>>>>> b6ef979080ccc19a9f436267541cfc10fd8511b3

 .text {
  font-size: 15px;
 }

 .button {
 margin-left:720px;
 margin-top:0px;
 margin-bottom:4px;
 }

 score-box {
 
 }

 .teal {
 color: #339999;
 }

 .button-padding {
  margin-left:480px;
  margin-top: -15px;
  margin-bottom: 0px;
 }

 .border {
   border: 1px solid #d1d1d1;
   border-radius:5px;
   #background-color:#D6D6C1;
  #background-color:#FFFFF0;
  background-color:white;
   #color:white;
   margin-right:140px;
   padding-top:5px;   
   padding-bottom:5px; 
 }

.color {
  background: #FDF9E9;
  padding: 0px;
	margin-left: -22px;
	margin-right: 2px;
	margin-top: 0px;
}

.header {
	 font-size: 40px;
	 margin: 8px 10px;
	 #color: #339999;
   color: #A64D4D;
	 font-family: Britannic Bold;
}

.criteria-background {
<<<<<<< HEAD
	color: #339999;
=======
	#color: #339999;
  color:#564A7B;
  #color: #7e3f63;
>>>>>>> b6ef979080ccc19a9f436267541cfc10fd8511b3
	padding-left: 17px;
	padding-top: 5px;
	margin-right: 10px;
	margin-top: -4px;
}

#submit {
	padding-right: 2px;
}

<<<<<<< HEAD

.box-list {
 background: #f2f2f2;
=======
.bold {
  font-weight:bold;
}


.box-list {
 background: #f2f2f2;
 # background:#fcf8e3;
  #border: 1px solid #fbeed5;
#-webkit-border-radius: 4px;
#-moz-border-radius: 4px;
#border-radius: 4px;
>>>>>>> b6ef979080ccc19a9f436267541cfc10fd8511b3
  -moz-border-radius: 3px;
       -webkit-border-radius: 3px; 
     min-height: 100px;
    padding-left: 20px;
    
}

.colorr {
  background-color: #E6E6E6;

}

fix {
   position:fixed;
}

#background {
  background-color:#FDF9E9;
}

.show-box-list {
	  background: #f2f2f2;
  # background:#fcf8e3;
	   -moz-border-radius: 3px;
      -webkit-border-radius: 3px; 
      height: 520px;
      padding-left: 1px;

}

.scroll-div {
height:520px;
overflow:auto;
}

.login-form {
    background: #f2f2f2;
       -moz-border-radius: 3px;
       -webkit-border-radius: 3px;   
       width: 220px;
      height: 270px;
    margin-top: 117px;
    margin-left: 15px;

    # background:#fcf8e3;
 # border: 1px solid #fbeed5;
#-webkit-border-radius: 4px;
#-moz-border-radius: 4px;
#border-radius: 4px;
}

.topvendors-form {
      background: #f2f2f2;
       -moz-border-radius: 3px;
       -webkit-border-radius: 3px;   
       width: 220px;
      height: 250px;
    margin-top: 76px;
    margin-left: 15px;
}

.topvendor{
  padding-left:38px;
  padding-top:6px;
  font-size:16px;
}



.topsoftwares-form {
      background: #f2f2f2;
          #  border: 1px solid #d8d8d8;
            border-radius: 4px 4px 0 0;
       -moz-border-radius: 3px;
       -webkit-border-radius: 3px;   
       width: 250px;
      height: 490px;
    margin-top: 117px;
    margin-left: 0px;
    position:fixed;
}

.link-color {
  color: #4D4D4D;
}

.link-color-purple:hover {
  #color:#7e3f63;
  color:  #282041;
  text-decoration:none;
}

.link-color-purple {
   color:#564A7B;
}

.link-color:hover {
  color: #191919;
  text-decoration:none;
}


.line-break {
	max-width: 100ch;
	text-align: justify;
}

.line-break-padding {
	max-width: 100ch;
	text-align: justify;
	padding-left: 0px;
}

.title {
	font-weight:bold;
	font-size: 18px;
	
}

.bg {
opacity:0.4;
  
}

.bg:hover {
  opacity:1.0;

}

.padding {
	padding-left: 23px;
}

.date {
  color: #686868;
  font-size: 9px;
}

.scroll {
	height:450px;
	overflow: auto;
}





hr {
border-color: #D8D8D8  ;
background-color: #D8D8D8  ;
height: 1px;
}

.textbox {
	size:10;
}



.line-break {
max-width: 100ch;
text-align: justify;
}

.title {
font-weight:bold;
font-size: 18px;
}

.padding {
padding-left: 23px;
}

.add{
	max-width: 32ch;
	text-align: justify;

}

.address{
	font-size: 13px;
}


.new{
position:absolute;
top: 70px;
margin-left: 860px;	
}

.edit{
  position:absolute;
  top: 70px;
  margin-left: 845px; 
}
.delete{
  position:absolute;
  top: 70px;
  margin-left: 890px; 
}

.addin{

position:absolute;
  top: 160px;
  margin-left: 830px;
  
}

.toplist{
background: #f2f2f2;
  -moz-border-radius: 3px;
       -webkit-border-radius: 3px; 
      
<<<<<<< HEAD
      max-width: 260px;
    margin-top: 95px;
}

=======
    width: 260px;
    margin-top: 95px;
}

.vendor-link {
  font-size:12px;
  font-weight:bold;
}



.sign-in {
  padding-left:50px;
  padding-top:6px;
 font-size:18px;
}

.currentuser-name {
  padding-top:10px;
  margin-left:590px;
}

>>>>>>> b6ef979080ccc19a9f436267541cfc10fd8511b3
.t_list {
font-weight:bold;
font-size: 14px;
color: #0088cc;
margin-bottom:15px;
padding-left: 20px;
}

<<<<<<< HEAD
.top{
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
color: #ffffff;
font-size: 25px;
background: #339999;
font-family: Britannic Bold;
padding-left: 20px;
border-bottom-style: solid;
border-bottom-width: 4px;
border-bottom-color: #ffffff; 
=======
.signin-button {
  font-weight:bold;
}

.navlink-color {
  color:white;
}

.top{

color: #fff;
text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
background-color: #6c8393;
border: 1px solid #6e8290;
border-bottom-color: #586873;
border-radius: 4px 4px 0 0;

height:30px;
#-moz-border-radius: 5px;
#-webkit-border-radius: 5px;
#color: #ffffff;
font-size: 25px;
#background: #339999;
font: 13px Helvetica, arial, freesans, clean, sans-serif;
font-weight:bold;
padding-left: 20px;
#border-bottom-style: solid;
#border-bottom-width: 4px;
#border-bottom-color: #ffffff; 
>>>>>>> b6ef979080ccc19a9f436267541cfc10fd8511b3
}


.soft{
  margin-top: 20px;
}

.weight{
  margin-left: 100px;
}




