@import 'bootstrap';
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require_tree .
 */

modalmaxsize {
	max-height:100px;
}


 .text {
  font-size: 15px;
 }

 .button {
 margin-left:720px;
 margin-top:0px;
 margin-bottom:4px;
 }

 score-box {
 
 }

 .teal {
 color: #339999;
 }

 .button-padding {
  margin-left:480px;
  margin-top: -15px;
  margin-bottom: 0px;
 }

 .border {
   border: 1px solid #d1d1d1;
   border-radius:5px;
   #background-color:#D6D6C1;
  #background-color:#FFFFF0;
  background-color:white;
   #color:white;
   margin-right:140px;
   padding-top:5px;   
   padding-bottom:5px; 
 }

.color {
       background: #f2f2f2;
       padding: 5px;
	margin-left: -22px;
	margin-right: 2px;
	margin-top: 0px;
}

.header {
	 font-size: 40px;
	 margin: 8px 10px;
	 color: #339999;
	 font-family: Britannic Bold;
}

.criteria-background {
	color: #339999;
	padding-left: 17px;
	padding-top: 5px;
	margin-right: 10px;
	margin-top: -4px;
}

#submit {
	padding-right: 2px;
}


.box-list {
 background: #f2f2f2;
  -moz-border-radius: 3px;
       -webkit-border-radius: 3px; 
      min-height: 100px;
      padding-left: 20px;
    
}

.show-box-list {
	  background: #f2f2f2;
	   -moz-border-radius: 3px;
       -webkit-border-radius: 3px; 
      min-height: 560px;
      padding-left: 20px;
}


.line-break {
	max-width: 100ch;
	text-align: justify;
}

.line-break-padding {
	max-width: 100ch;
	text-align: justify;
	padding-left: 0px;
}

.title {
	font-weight:bold;
	font-size: 18px;
	
}

.padding {
	padding-left: 23px;
}

.date {
  color: #686868;
  font-size: 9px;
}

.scroll {
	height:450px;
	overflow: auto;
}


hr {
border-color: #D8D8D8  ;
background-color: #D8D8D8  ;
height: 1px;
}

.textbox {
	size:10;
}



.line-break {
max-width: 100ch;
text-align: justify;
}

.title {
font-weight:bold;
font-size: 18px;
}

.padding {
padding-left: 23px;
}

.add{
	max-width: 32ch;
	text-align: justify;

}

.address{
	font-size: 13px;
}


.new{
position:absolute;
top: 70px;
margin-left: 860px;	
}

.edit{
  position:absolute;
  top: 70px;
  margin-left: 845px; 
}
.delete{
  position:absolute;
  top: 70px;
  margin-left: 890px; 
}

.addin{

position:absolute;
  top: 160px;
  margin-left: 830px;
  
}

.toplist{
background: #f2f2f2;
  -moz-border-radius: 3px;
       -webkit-border-radius: 3px; 
      
      max-width: 260px;
    margin-top: 95px;
}

.t_list {
font-weight:bold;
font-size: 14px;
color: #0088cc;
margin-bottom:15px;
padding-left: 20px;
}

.top{
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
color: #ffffff;
font-size: 25px;
background: #339999;
font-family: Britannic Bold;
padding-left: 20px;
border-bottom-style: solid;
border-bottom-width: 4px;
border-bottom-color: #ffffff; 
}


.soft{
  margin-top: 20px;
}

.weight{
  margin-right: 0px; 
}

.p{
position: absolute;
  margin-left: 190px;
  margin-top: -35px;
}

.label1{
  width: 130px; 
  margin-right: 0px;
   background: #f2f2f2;}

.list{
  -webkit-column-count:3;
  -moz-column-count:3;
column-count:3;
-webkit-column-gap:30px; 
-moz-column-gap:30px;
column-gap:30px;
}

.criteria-background {

  color: #339999;
  padding-left: 17px;
  padding-top: 5px;
  margin-right: 10px;
  margin-top: -4px;
}

hr {
border-color: #D8D8D8  ;
background-color: #D8D8D8  ;
height: 1px;
}

.color {
       background: #f2f2f2;
       padding: 5px;
  margin-left: -22px;
  margin-right: 2px;
  margin-top: 0px;
}

.color2 {
       background: #f2f2f2;
       padding: 5px;
  margin-right: 2px;
  margin-top: 0px;
}




