<div class = "modal-body body">
	<b> User: </b>
<p><%= f.text_field(:user , :placeholder => "Please Enter email")%>
<%= f.select :role , options_for_select([["Admin", "admin"], ["Consultant", "consultant"]]) %>
</p>

</div>
<div class="modal-footer">
   <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button> 
 	<button class = " btn btn-primary" type = "submit">Save</button>
    
  </div>